<!DOCTYPE HTML>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kazuhito.io</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="gray-bgcolor">


  <section class="welcome full-height" data-section-name="welcome">
    <header>
      <ul>
        <li>
          <a href="#articles">
            Articles
          </a>
        </li>
        <li>
          <a href="#projects">
            Projects
          </a>
        </li>
        <li>
          <a href="#contact">
            Contact
          </a>
        </li>
      </ul>
    </header>

    <div class="message">
      <h1>But a how more a just of front of workment.</h1>
      <p>Might the frequencies respect felt ideas each men, lively. Of that five a self-interest, redesigns.</p>
    </div>
  </section>


  <section class="articles full-height" data-section-name="articles">
    <h1>Articles</h1>

    <div class="article-container">
      <article>
        <h2>Considerations, one. Little a covered run places series back and</h2>
        <p>Semblance as stupid the recently puzzles strenuous why left an her the their with then the that entered tyrannize. Boss is phase. Hazardous was both as world worn by frequently...</p>
        <div>
          <button>Read More</button>
        </div>
      </article>
      <div class="separator"></div>
      <article>
        <h2>Off it exerted business one</h2>
        <p>Semblance as stupid the recently puzzles strenuous why left an her the their with then the that entered tyrannize. Boss is phase. Hazardous was both as world worn by frequently...</p>
        <div>
          <button>Read More</button>
        </div>
        </article>
    </div>
  </section>


  <section class="projects full-height" data-section-name="projects">
    <h1>Projects</h1>

    <div class="project-container">
      <ul>
        <li>
          <a href="#">.net</a>
        </li>
        <li>
          <a href="#">android</a>
        </li>
        <li>
          <a href="#">angular</a>
        </li>
        <li>
          <a href="#">java</a>
        </li>
        <li>
          <a href="#">meteor</a>
        </li>
      </ul>
      <div class="masonry-container">
        <div class="wrapper">
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/2.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/3.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/4.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/6.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/8.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/9.jpg">
          </div>
          <div class="item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/7.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contact full-height" data-section-name="contact">
    <h1>Contact</h1>

    <div class="form-container">
      <form>
        <div class="fields-container">
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
        </div>
        <div class="fields-container">
          <input type="text" placeholder="Phone Number" />
        </div>
        <div class="row-item message-container">
          <label>How can I help you?</label>
          <textarea></textarea>
        </div>
        <div class="send-container">
          <button class="dark" type="submit">Send</button>
        </div>
        <div class="separator">
          <hr>
          <label>or</label>
          <hr>
        </div>
        <div class="info-container">
          <label>kmhigashioka@gmail.com</label>
          <small>+63997-207-0204</small>
        </div>
        <div class="links-container">
          <a href="https://ph.linkedin.com/in/kmhigashioka" target="__blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://github.com/kazupooot" target="__blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://stackoverflow.com/users/2370190/kazupooot" target="__blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://projects.lukehaas.me/scrollify/script/jquery.scrollify.js"></script>
  <script src="http://opensource.teamdf.com/visible/jquery.visible.js"></script>
  <script>
    $(document).ready(function () {
      $(function() {
        $.scrollify({
          section : ".full-height",
          sectionName : "section-name"
        });
        
        ['articles', 'projects', 'contact'].forEach(function (t) {
          $("a[href*='" + t + "']").click(function() {
            $.scrollify.move("#" + t);
          });
        });

        $(this).bind('scroll', onChangeBackgroundColor);
        onChangeBackgroundColor();

        function onChangeBackgroundColor() {
          if ($('.welcome h1').visible(true)) {
            $('body').removeClass();
            $('body').addClass('gray-bgcolor');
          }
          if ($('.articles .article-container').visible(true)) {
            $('body').removeClass();
            $('body').addClass('pink-bgcolor');
          }
          if ($('.projects .project-container').visible(true)) {
            $('body').removeClass();
            $('body').addClass('gray-bgcolor');
          }
          if ($('.contact h1').visible(true)) {
            $('body').removeClass();
            $('body').addClass('dark-gray-bgcolor');
          }
        }
      });
    });
  </script>
</body>

</html>
